 @import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Slab&family=Rubik&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto Slab', serif;
    font-family: 'Rubik', sans-serif;
   
    
}
body{
    background-image: url(https://s3.eu-central-1.amazonaws.com/euobs-media/aa85e4d87f0d8db3c9f900da2dc02a9f.jpg);
    background-repeat: no-repeat;
}
header{
    position: fixed;
    top: 0;
    
}
nav{
    height: 70px;
    width: 100vw;
    background-color: #016A70;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    font-size: larger;
   align-items: center;
   
  
}
a:not(footer a){
    text-decoration: none;
    color: #fff;
   
    
}
a{
    text-decoration: none;
}
h1{
    color: #fff;
  margin-top: 100px;
  margin-left: 20px;
text-align: center;

   
}
img{
    height: auto;
    width: 30vw;
    border-radius: 10px;
    margin-left: 20px;
    display: block;
}
header img:hover{
    border-radius: 50%;
    box-shadow:-2px -2px 20px rgb(25, 24, 24) ;
    transform: scale(2);
    transition-property:all ;
    transition-duration: 0.2s;
}
.section1{
    height: auto;
    width: 95vw;
    background-color:#FFFFDD;
    margin: 70px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;

    border-radius: 7px;
    padding: 30px;
}
.divider{
    border-right: 4px solid;
    height: 200px;
    width: auto;
}
.section2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
table{
    width: 800px;
    border: 2px solid;
    border-radius: 5px;
    background-color: #FFFFDD;
    
}
table td{
    border-right: 2px solid;
    border-bottom: 2px solid;
    border-radius: 5px; 
    padding: 10px;
}
.th{
    color: blue;
}
.section3{
    margin: 80px 150px;
}
h2{
    margin-bottom: 20px;
}
.nav{
    width: 30px;
    height: 30px;
    
}
footer:not(footer div){
    height: 500px;
    width: auto;
    background-color:#FFFFDD ;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 50px;
    flex-wrap: wrap;
}
h4{
    color: #016A70;
}
.icon{
    height: 50px ;
    width: 50px;

}
footer div{
    display: flex;
    flex-direction: row;
}
.icon:hover{
    border-radius: 50%;
    box-shadow:-2px -2px 20px rgb(25, 24, 24) ;
    transform: scale(1.2);
    transition-property:all ;
    transition-duration: 0.2s;
}

















@media (max-width:850px) {
   .divider {
    display: none;
   }
}
@media (max-width:1050px) {
    Body{
     background-image: none;
    }
 }

 @media(max-width:850px){
    .section3{
        margin: 10px;
    }
 }
 @media(max-width:566px){
    footer .icon{
        width: 25px;
        height: 25px;
    }
 }
 @media(max-width:445px){
    h4{
        font-size:xx-small;
    }
   
 }
 @media(max-width:566px){
    footer div{
        flex-direction: column;
    }
   
 }
 @media(max-width:445px){
    footer{
        text-overflow: hidden;
    }
 }
 